@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100;0,9..144,200;0,9..144,300;0,9..144,400;0,9..144,500;0,9..144,600;0,9..144,700;0,9..144,800;0,9..144,900;1,9..144,100;1,9..144,200;1,9..144,300;1,9..144,400;1,9..144,500;1,9..144,600;1,9..144,700;1,9..144,800;1,9..144,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
            
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #222066;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

@media screen and (max-width: 500px) {
  body {
    background-image: none;
  }

  .A {
    height: 110vw;
  }
}


#slidebar {
  display: none;
}

/* Position and sizing of burger button */
.bm-burger-button {
  display: none;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
  display: none;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100% !important;
  left: 0;
  z-index: 1 !important;
  top: 9vh !important;
}

/* General sidebar styles */
.bm-menu {
  background: #222066;
  padding: 0;
  font-family: 'Fraunces';
  font-size: 1.15em;
  height: auto !important;
  top: 9vh;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #222066;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
  height:auto !important;
}

/* Individual item */
.bm-item {
  display: inline-block;
  padding: 1em;
  color: white;
  text-decoration:none;
  font-weight:700;
  text-transform: uppercase;
  font-style:normal;
}
/* Styling of overlay */
.bm-overlay {
  background: none !important;
}

.over {
  z-index: 100;
  position: relative;
  left: 35%;
}