@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;500;700&Barlow:wght@900&display=swap');

body {
  margin: 0;
  font-family: 'Red Hat Text', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:rgba(18,16,39,0.91);
  scroll-behavior: smooth;
}

@media screen and (max-width: 769px) {
  body{
    background-image: none;
  }
}
